html {
  height: 100%;
  font-family: arial;
}

body {
  height: 100%;
}

.no-padding {
  padding: 0;
}

.ok {
  color: green;
}

.debt {
  color: red;
}

.page-title {
  text-align: center;
}

.page-controls {
  margin-bottom: 1em;
}

.errors {
  color: red;
  font-weight: bold;
  text-align: center;
}

.partner-list .partner,
.payment-list .partner-payment-subject {
  margin-bottom: 0.5em;
}

.partner-balance, .subject-cost, .partner-payment-subject-balance {
  padding-top: 6px;
}

.m-r-10 {
  margin-right: 10px;
}

.m-t-10 {
  margin-top: 10px;
}